.correct {
    color: green;
}

.incorrect {
    color: red;
}

#alert {
    position: absolute;
    left: 40%;
    top: 40%;
    transform: (50%,50%);
    width: 150px;
    background-color: green;
    color: white; 
    opacity: 70%;  
    padding: 20px;
    display:none;
}